// Colores
$dark-background: #182227;
$opacity-green: #51557E;
$gray-scale: #F4F6F5;
$strong-letter: #F34044;
$selector: #816797;

// Blues
$dark-blue: #191654;
$light-blue: #43C6AC;

// Fuentes
$font-family: 'Inter', sans-serif;


