@use  'global' as *;

body {
    .navbar {
        padding: 0;
        transition: top 0.7s;

        & .navbar-brand {
            margin-left: 1.5%;
        }

        @media (max-width: 575px) {
            text-align: center;
        }
    }

    .dropdown-menu {
        background-color: $dark-background;

        @media (max-width: 575px) {
            text-align: center;
            background-color: #2d4049;
        }

        li {
            
            &:hover {
                background-color: #81679780;
            }

            a:hover {
                background-color: transparent;
                color: white;
            }
        }
    }

    .nav-link:focus, .nav-link:hover {
        color: $light-blue;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .container-fluid {
        background-color: $dark-background;
        margin: 0;

        li {
            padding: .5rem 2rem;
        }

        a {
            color: $gray-scale;

            &:hover {
                color: $light-blue;
            }
        }
    }

    .actions {
        text-align: right;
        font-size: 14px;
        font-family: $font-family;

        @media (max-width: 575px) {
            text-align: center;
        }

        & > * {
            padding: 0.5rem 2rem;
        }

        & a {
            color: white;

            &:hover {
                color: white;
            }
        }

        & button {
            color: white;
            background-color: $selector;
            padding: .7rem 2.2rem;
            border: 0;
            border-radius: 5px;
            font-weight: 800;

            &:hover {
                opacity: .9;
            }
        }
    }
}

.columns-pres {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;

    @media (max-width: 575px) {
        display: inline-flex;
        margin-bottom: 7.5%;
    }
}

.presentation {
    padding: 8rem 8rem 2rem 8rem;
    background-image: linear-gradient(to right, $dark-background , $light-blue);
    overflow: hidden;

    @media (max-width: 575px) {
        padding: 8rem 1.5rem 1rem;
    }

    .col-pres2 {
        margin-left: -30%;

        & svg {

            @media (max-width: 575px) {
                width: 80%;
                margin-left: 20%;
            }

            fill: $selector;
            width: 166.5%;
            height: 166.5%;
        }

        @media (max-width: 575px) {
            overflow: hidden;
        }
    }

    .col-pres1 {
        width: 80%;
        max-width: 150%;

        @media (max-width: 575px) {
            width: 100%;
        }
    }

    & h1 {
        color: white;
        font-family: $font-family;
        font-size: 2.5rem;
        line-height: 1;

        @media (max-width: 575px) {
            font-size: 1.5rem;
            width: 60%;
        }

        & svg {
            color: $light-blue;
        }
    }

    & .social-media {
        width: 100%;
        height: 100%;
        list-style: none;
        display:flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-top: 3.5%;
        padding-left: 0;
        margin-left: 0;
        padding-right: 5rem;

        @media (max-width: 575px) {
            margin-top: 10%;
            padding-right: 0;
        }
        
        & li {
            width: 5%;

            @media (max-width: 575px) {
                width: 15%;
            }
        }
        
        & a svg {
            fill: white;
            width: 2rem;
            height: 2rem;

            @media (max-width: 575px) {
                width: 60%;
                height: 60%;
            }

            &:hover {
                fill: $dark-blue;
            }
        }

        #GitHub {
            padding-left: 1rem;
            
            @media (max-width: 575px) {
                padding-left: 0;
            }
        }
    }

    .social-media::before {

        @media (max-width: 575px) {
            width: 30%;
            top: .8rem;
        }
        
        display: block;
        content: "";
        height: 1px;
        width: 30%;
        background-color: white;
        opacity: .5;
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    .social-media::after {

        @media (max-width: 575px) {
            width: 30%;
            right: 0;
            top: .8rem;
        }

        display: block;
        content: "";
        height: 1px;
        width: 30%;
        background-color: white;
        opacity: .5;
        position: relative;
        top: 1rem;
        right: -1rem;
    }
}

.section-divider {
    fill: white;
    background-image: linear-gradient(to right, $dark-background , $light-blue);

    svg {
        @media (max-width: 575px) {
            padding-top: 1rem;
        }
    }
}

.header {
    padding: 7rem;
    text-align: center;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    color: $gray-scale;

    @media (max-width: 575px) {
        padding: 3rem;
    }

    & .header-col1 {
        padding-top: 4rem;
        background-color: #2d4049;
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;

        @media (max-width: 575px) {
            padding-top: 2rem;
        }

        h4 {
            @media (max-width: 575px) {
                font-size: 1rem;
                margin-bottom: 1.6rem;
            }
        }

        h1 {
            @media (max-width: 575px) {
                font-size: 1.6rem;
            }
        }

        br {
            @media (max-width: 575px) {
                display: none;
            }
        }

        svg {
            width: 100%;
            color: $light-blue;
        }
    }

    & .header-col2 {
        background-color: #2d4049;
        padding-top: 3rem;
        border-bottom-left-radius: 3vh;
        border-bottom-right-radius: 3vh;

        @media (max-width: 575px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        img {
            width: 40%;

            @media (max-width: 575px) {
                width: 60%;
            }
        }
    }
}

.di-head {
    margin: 0;
    padding: 0;

    & .di-content {
        display: flex;
        flex-direction: row;
        font-family: $font-family;

        @media (max-width: 575px) {
            flex-direction: column;
        }

        & .di-content-text {
            width: 50%;
            padding: 2rem;
            background-image: linear-gradient(to right, $dark-background , $selector);
            color: white;
            display: flex;
            align-items: center;

            @media (max-width: 575px) {
                width: 100%;
            }

            h6 {
                font-size: 25px;
                width: 90%;

                @media (max-width: 575px) {
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }

        & .di-content-list {
            width: 50%;
            padding: 2rem;
            background-color: $gray-scale;

            @media (max-width: 575px) {
                width: 100%;
                padding: 1rem
            }

            ul {
                padding: 1rem;
                list-style: none;

                @media (max-width: 575px) {
                    padding: .7rem;
                }

                li {
                    h3 {
                        @media (max-width: 575px) {
                            font-size: 1.2rem;
                        }
                    }

                    p {
                        @media (max-width: 575px) {
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        & .text-md::before {
            content: "";
            height: 2px;
            width: 100%;
            background-color: $dark-blue;
            opacity: .5;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-20%,-50%);
        }

        & .padding-bottom-md {
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;

            @media (max-width: 575px) {
                padding-bottom: .7rem;
                padding-top: .7rem;
            }
        }
    }
}

.di {
    padding: 5rem;

    @media (max-width: 575px) {
        padding: 3rem 1.5rem;
    }

    & .di-proyectos {
        display: flex;
        align-items: center;
        gap: 3rem;
        padding-bottom: 8%;

        @media (max-width: 575px) {
            gap: 0;
            flex-direction: column;
        }

        & .di-example-body {
            width: 70%;
            text-align: justify;

            @media (max-width: 575px) {
                width: 100%;
            }

            & h2 {
                font-family: $font-family;
                color: $light-blue;
                font-size: 1.5rem;
                text-align: center;
    
                @media (max-width: 575px) {
                    font-size: 1rem;
                }
            }
    
            & h4 {
                font-family: $font-family;
                font-size: 150%;
                font-size: 1.3rem;
    
                @media (max-width: 575px) {
                    font-size: .7rem;
                }
            }
        }

        & iframe {
            @media (max-width: 575px) {
                width: 80%;
            }
        }
    }
}

.footer {
    padding: 3% 5% 2%;
    margin: 0;
    max-width: unset;
    background-color: $dark-background;

    @media (max-width: 575px) {
        padding: 3% 6% 25%;
        text-align: center;
        
        .row {
            flex-direction: column;
        }        
    }

    @media (min-width: 576px) and (max-width: 991px) {
        padding: 5% 3% 2%;

        .row {
            --bs-gutter-x: .5rem
        }
    }

    h2 {
        font-family: $font-family;
        color: $light-blue;
        font-size: 1.6rem;

        @media (max-width: 575px) {
            font-size: 1.3rem;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 1.2rem;
        }
    }

    & p {
        font-size: 1rem;
        text-align: left;
        color: $gray-scale;

        @media (max-width: 575px) {
            font-size: 13px;
            text-align: center;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 15px;
        }
    }

    h4 {
        text-transform: uppercase;
        color: $light-blue;
        font-weight: 700;
        font-size: 13px;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 575px) {
            text-align: center;
            width: 94%;
        }
    }

    .col-sm ul {
        font-size: 1rem;
        padding: 0;

        & .contact {
            display: inline;
        }

        @media (max-width: 575px) {
            font-size: 13px;
            margin-bottom: 10%;
            margin-top: 5%;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 13px;
        }
    }

    li {
        margin-bottom: 20px;
        display: block;
        margin-left: 0;

        @media (max-width: 575px) {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: $gray-scale;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .media {
        display: flex;

        @media (max-width: 575px) {
            margin-bottom: 8%;
        }
    }
    
    .social {
        svg:hover {
            fill: $light-blue;
        }
    }

    .social {
        margin-left: .2rem;

        svg {
            fill:$gray-scale;
        }

        @media (max-width: 575px) {
            margin-left: 0;
            align-items: left;
            // margin-bottom: 10%;
        }

        a {
            margin-right: 20px;
            text-decoration: none;

            @media (max-width: 575px) {
                margin-left: 20px;
            }
        }
    }

    .col-4 {
        width: 50%;

        @media (max-width: 575px) {
            text-align: center;
            line-height: 1;
            flex-direction: column;
            // margin-bottom: 0;
            width: 80%;
        }

        p {
            text-align: right;
            margin: 15px 0px 16px;
            font-size: 80%;
            font-family: $font-family;

            &::before {
                content: "\2015";
                color: $light-blue;
            }

            @media (max-width: 575px) {
                display: contents;
            }

            @media (min-width: 576px) and (max-width: 991px) {
                margin: 1rem 1rem 1rem 0;
                font-size: 70%;
            }
        }

        & a img {
            @media (max-width: 575px) {
                margin-bottom: 20%;
            }
        }
    }

    .col-sm .contact {

        & p {
            margin-bottom: 0;
            font-size: .8rem;
            color: $gray-scale;
            opacity: .6;
        }

        & a {
            font-weight: 700;

            & svg {
                fill: $light-blue;
            }
        }

        @media (max-width: 575px) {
            margin-left: 0;
        }
    }

    #footerinfo {
        
        @media (max-width: 575px) {
            text-align: center;
            margin-left: 0%;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            margin-left: 5%;
        }
    }
}