@use  'global' as *;

body {
    background-color: white;

    .navbar {
        padding: 0;

        & .navbar-brand {
            margin-left: 1.5%;
        }
    }

    .dropdown-menu {
        background-color: $dark-background;

        li {
            
            &:hover {
                background-color: #81679780;
            }

            a:hover {
                background-color: transparent;
                color: white;
            }
        }
    }

    .nav-link:focus, .nav-link:hover {
        color: $light-blue;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .container-fluid {
        background-color: $dark-background;
        margin: 0;

        li {
            padding: .5rem 2rem;
        }

        a {
            color: $gray-scale;

            &:hover {
                color: $light-blue;
            }
        }
    }

    .actions {
        text-align: right;
        font-size: 14px;
        font-family: $font-family;

        & > * {
            padding: 0.5rem 2rem;
        }

        & button {
            color: white;
            background-color: $selector;
            padding: .7rem 2.2rem;
            border: 0;
            border-radius: 5px;
            font-weight: 800;

            &:hover {
                background-color: $light-blue;
            }
        }
    }

    .columns-pres {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    
    .presentation {
        padding: 8rem 0 2rem 3rem;
        background-image: linear-gradient(to right, $dark-blue , $light-blue);
        overflow: hidden;

        .col-pres2 {
            width: 100%;
            position: relative;
            right: 5%;
            margin-right: -60%;
        }

        .col-pres1 {
            width: 80%;
            max-width: 150%;
        }


        & h2 {
            color: $light-blue;
            font-family: $font-family;
            text-transform: uppercase;
            font-size: 1.5rem;
            letter-spacing: .5rem;
        }
    
        & h1 {
            color: white;
            font-family: $font-family;
            font-size: 2.5rem;
            line-height: 1.5;
        }

        & p {
            color: white;
            font-size: 1.5rem;
        }

        & .button {
            background-color: transparent;
            border-color: white;
            border-width: .2rem;
            padding: 1.2rem 2rem;
            border-style: solid;
            margin-top: 2rem;
            text-transform: uppercase;
            transition: .3s ease all;
            font-family: $font-family;
            letter-spacing: .2rem;
            font-size: 12px;
            color: white;

            & svg {
                transition: .2s ease;
            }

            &:hover {
                color: $dark-blue;
            }

            & span {
                transition: .3s ease all;
            }

            &:hover {
                background-color: $light-blue;
                border-color: $light-blue;

                & span {
                    color: $dark-blue;
                }
            }
        }

        & .social-media {
            width: 100%;
            height: 100%;
            list-style: none;
            display:flex;
            position: relative;
            flex-direction: row;
            justify-content: center;
            margin-top: 3.5%;
            padding-left: 0;
            margin-left: 0;
            padding-right: 3rem;
            
            & a svg {
                fill: white;
                width: 100%;
                height: 100%;

                &:hover {
                    fill: $dark-blue;
                }
            }

            #GitHub {
                padding-left: 2rem;
            }
        }

        .social-media::before {
            display: block;
            content: "";
            height: 1px;
            width: 30%;
            background-color: white;
            opacity: .5;
            position: relative;
            top: 1rem;
            right: 1rem;
        }

        .social-media::after {
            display: block;
            content: "";
            height: 1px;
            width: 30%;
            background-color: white;
            opacity: .5;
            position: relative;
            top: 1rem;
            right: -1rem;
        }
    }

    .section-divider {
        fill: $gray-scale;
        background-image: linear-gradient(to right, $dark-blue , $light-blue);
    }

    .about-me {
        padding: 5rem 6rem 0 6rem;
        background-color: $gray-scale;
        text-align: center;
        display: flex;
        justify-content: space-around;
        gap: 5rem;
        align-items: center;

        & h3 {
            font-family: $font-family;
            text-transform: uppercase;
            color: $selector;
            text-align: center;
            font-size: 2.5rem;
        }

        & p {
            color: black;
            font-family: $font-family;
            font-size: 1.3rem;
            line-height: 1.5;
            text-align: justify;
            margin-bottom: 2rem;

            & mark {
                background-color: #816797b7;
                color: white;
                font-weight: 545;
            }
        }

        & .about-me-body {
            flex: 1;

            & h3 {
                font-size: 51px;
                line-height: 61px;
                color: #816797;
                padding-bottom: 1rem;
            }

            & p {
                color: #343434;
                font-size: 18px;
                line-height: 1.5;
                margin-bottom: 1rem;
                text-align: justify;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        & .carousel {
            flex: .6;
            border-radius: .8rem;
            
            & .examples {
                width: 100%;
                background-color: #fff;
                border-radius: .8rem;
                position: relative;
                display: flex;
                flex-direction: column;
                box-shadow: 0 0 15px rgb(203, 199, 199);
                border: 1px solid #dadada;

                & .examples-photos {
                    position: relative;

                    & img {
                        width: 100%;
                        max-height: 22vw;
                        border-top-left-radius: .8rem;
                        border-top-right-radius: .8rem;
                        object-fit: cover;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, .4);
                        border-top-left-radius: .8rem;
                        border-top-right-radius: .8rem;
                    }
                }

                & .examples-text {
                    padding: 2rem;

                    & h3 {
                        color: #51557E;
                        font-size: 1.4rem;
                        margin-bottom: 1rem;
                        font-family: $font-family;
                        text-transform: none;
                    }

                    & h2 {
                        font-size: 1.2rem;
                        font-weight: 400;
                        margin: 1rem;
                        margin-bottom: 1.5rem;
                        font-family: $font-family;
                    }
                }
            }

            & .examples-icon {
                width: 100%;
                height: 100%;

                & img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }

    .division {
        background-color: $gray-scale;
    
        &::after {
            display: inline-block;
            content: "";
            margin: 0 0 0 20%;
            height: 1px;
            width: 60%;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.166);
        }
    }

    .services {
        max-width: 100%;
        padding: 3rem 8rem 5rem 8rem;
        margin: 0;
        background-color: $gray-scale;

        & h2 {
            font-family: $font-family;
            color: #37474f;
            font-size: 1.5rem;
            padding-bottom: 3rem;
            text-align: center;
        }

        & .card {
            align-items: center;
    
            svg {
                fill: $light-blue;
                width: 40%;
                height: 40%;
                opacity: .9;
                padding-top: 1rem;

                &:hover {
                    fill: $selector;
                }
            }
    
            .card-body {
                a {
                    text-decoration: none;
        
                    & h5 {
                        color: $dark-blue;
                        font-family: $font-family;
        
                        &:hover {
                            color: $selector;
                        }
                    }
                }
            }

            .read-more a {
                color: $light-blue;

                &:hover {
                    color: $selector;
                }
            }
        }
    }
}

.footer {
    padding: 3% 5% 2%;
    margin: 0;
    max-width: unset;
    background-color: $dark-background;

    @media (max-width: 575px) {
        padding: 3% 6% 10%;
        margin-top: 10%;
        
        .row {
            flex-direction: column;
        }        
    }

    @media (min-width: 576px) and (max-width: 991px) {
        padding: 5% 3% 2%;

        .row {
            --bs-gutter-x: .5rem
        }
    }

    h2 {
        font-family: $font-family;
        color: $light-blue;
        font-size: 1.6rem;

        @media (max-width: 575px) {
            font-size: 1.3rem;
            text-align: center;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 1.2rem;
        }
    }

    & p {
        font-size: 1rem;
        text-align: left;
        color: $gray-scale;

        @media (max-width: 575px) {
            font-size: 13px;
            text-align: center;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 15px;
        }
    }

    h4 {
        text-transform: uppercase;
        color: $light-blue;
        font-weight: 700;
        font-size: 13px;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 575px) {
            text-align: center;
            width: 94%;
        }
    }

    .col-sm ul {
        font-size: 1rem;
        padding: 0;

        & .contact {
            display: inline;
        }

        @media (max-width: 575px) {
            font-size: 13px;
            margin-bottom: 10%;
            margin-top: 5%;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 13px;
        }
    }

    li {
        margin-bottom: 20px;
        display: block;
        margin-left: 0;

        @media (max-width: 575px) {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: $gray-scale;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .media {
        display: flex;

        @media (max-width: 575px) {
            margin-bottom: 8%;
        }
    }
    
    .social {
        svg:hover {
            fill: $light-blue;
        }
    }

    .social {
        margin-left: .2rem;

        svg {
            fill:$gray-scale;
        }

        @media (max-width: 575px) {
            margin-left: 0;
            align-items: left;
            // margin-bottom: 10%;
        }

        a {
            margin-right: 20px;
            text-decoration: none;

            @media (max-width: 575px) {
                margin-left: 20px;
            }
        }
    }

    .col-4 {
        width: 50%;

        @media (max-width: 575px) {
            text-align: center;
            line-height: 1;
            flex-direction: column;
            // margin-bottom: 0;
            width: 80%;
        }

        p {
            text-align: right;
            margin: 15px 0px 16px;
            font-size: 80%;
            font-family: $font-family;

            &::before {
                content: "\2015";
                color: $light-blue;
            }

            @media (max-width: 575px) {
                display: contents;
            }

            @media (min-width: 576px) and (max-width: 991px) {
                margin: 1rem 1rem 1rem 0;
                font-size: 70%;
            }
        }

        & a img {
            @media (max-width: 575px) {
                margin-bottom: 20%;
            }
        }
    }

    .col-sm .contact {

        & p {
            margin-bottom: 0;
            font-size: .8rem;
            color: $gray-scale;
            opacity: .6;
        }

        & a {
            font-weight: 700;

            & svg {
                fill: $light-blue;
            }
        }

        @media (max-width: 575px) {
            margin-left: 0;
        }
    }

    #footerinfo {
        
        @media (max-width: 575px) {
            text-align: center;
            margin-left: 0%;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            margin-left: 5%;
        }
    }
}