@use  'global' as *;

body {
    .navbar {
        padding: 0;
        transition: top 0.7s;

        & .navbar-brand {
            margin-left: 1.5%;
        }

        @media (max-width: 575px) {
            text-align: center;
        }
    }

    .dropdown-menu {
        background-color: $dark-background;
        
        @media (max-width: 575px) {
            text-align: center;
            background-color: #2d4049;
        }

        li {
            
            &:hover {
                background-color: #81679780;
            }

            a:hover {
                background-color: transparent;
                color: white;
            }
        }
    }

    .nav-link:focus, .nav-link:hover {
        color: $light-blue;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }

    .container-fluid {
        background-color: $dark-background;
        margin: 0;

        li {
            padding: .5rem 2rem;
        }

        a {
            color: $gray-scale;

            &:hover {
                color: $light-blue;
            }
        }
    }

    .actions {
        text-align: right;
        font-size: 14px;
        font-family: $font-family;

        @media (max-width: 575px) {
            text-align: center;
        }

        & > * {
            padding: 0.5rem 2rem;
        }
        
        & a {
            color: white;

            &:hover {
                color: white;
            }
        }

        & button {
            color: white;
            background-color: $selector;
            padding: .7rem 2.2rem;
            border: 0;
            border-radius: 5px;
            font-weight: 800;

            &:hover {
                opacity: .9;
            }
        }
    }
}

.publi-head {
    background-image: linear-gradient(to right, $dark-background , $light-blue);
    padding: 10rem 5rem 3rem 5rem;

    @media (max-width: 575px) {
        padding: 8rem 1.5rem 1rem;
    }

    & .presentation {
        display: flex;
        align-items: center;
        gap: 3rem;

        & h1 {
            color: $gray-scale;
            font-family: $font-family;
            padding-bottom: 2rem;
            text-align: left;
            font-size: 2rem;

            @media (max-width: 575px) {
                font-size: 1rem;
            }

            & svg {
                color: $light-blue;
            }
        }
    
        & .publi-head-img {
            width: 100%;
            position: relative;
            right: 5%;
            margin-right: -10%;
            overflow: hidden;
            display: block;
        }
    }

    & .social-media {
        width: 100%;
        height: 100%;
        list-style: none;
        display:flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-top: 3.5%;
        padding-left: 0;
        margin-left: 0;
        padding-right: 5rem;

        @media (max-width: 575px) {
            margin-top: 10%;
            padding-right: 0;
        }
        
        & li {
            width: 10%;

            @media (max-width: 575px) {
                width: 15%;
            }
        }
        
        & a svg {
            fill: white;
            width: 2rem;
            height: 2rem;

            @media (max-width: 575px) {
                width: 60%;
                height: 60%;
            }

            &:hover {
                fill: $dark-blue;
            }
        }

        #GitHub {
            padding-left: 1rem;
            
            @media (max-width: 575px) {
                padding-left: 0;
            }
        }
    }

    .social-media::before {

        @media (max-width: 575px) {
            width: 30%;
            top: .8rem;
        }
        
        display: block;
        content: "";
        height: 1px;
        width: 30%;
        background-color: white;
        opacity: .5;
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    .social-media::after {

        @media (max-width: 575px) {
            width: 30%;
            right: 0;
            top: .8rem;
        }

        display: block;
        content: "";
        height: 1px;
        width: 30%;
        background-color: white;
        opacity: .5;
        position: relative;
        top: 1rem;
        right: -1rem;
    }
}

.section-divider {
    fill: $gray-scale;
    background-image: linear-gradient(to right, $dark-background , $light-blue);
    
    svg {
        @media (max-width: 575px) {
            padding-top: 1rem;
        }
    }
}

.publi-back {
    padding: 5rem 10rem 7.5rem;
    background-color: $gray-scale;
    overflow: hidden;

    @media (max-width: 575px) {
        padding: 1rem;
    }

    .deco-dots {
        svg {
            margin-left: -18%;
            fill: $light-blue;
        }
    }

    .deco-dots2 {
        margin-left: 109%;
        svg {
            fill: $dark-blue;
        }
    }

    .blog {
        max-width: unset;
    
        @media (max-width: 575px) {
            padding: 5% 5% 0 5%;
        }
    
        @media (min-width: 576px) and (max-width: 991px) {
            padding-bottom: 10%;
            padding-left: 8%;
            padding-right: 8%;
        }
    
        .col .card {
            @media (min-width: 576px) and (max-width: 991px) {
                width: 100%;
            }
        }
    
        .row {
            @media (max-width: 575px) {
                gap: 2rem;
            }

            @media (min-width: 576px) and (max-width: 991px) {
                flex-direction: row;
            }
        }
    
        .card img {
            @media (min-width: 576px) and (max-width: 991px) {
                height: 40vh;
                object-fit: cover;
            }
        }
    
        .card {
            * {
                text-align: left;
                text-decoration: none;
            }
    
            & .card-title {
                color: $dark-background;
                font-size: 1rem;
    
                &:hover {
                    color: $selector;
                }
    
                @media (min-width: 576px) and (max-width: 991px) {
                    font-size: 20px;
                }
            }
    
            .card-text {
                color: black;
                font-size: .8rem;
                text-align: justify;
    
                @media (min-width: 576px) and (max-width: 991px) {
                    font-size: 14px;
                }
            }
    
            .category a {
                color: $light-blue;
                text-align: left;
                font-size: .8rem;
    
                @media (min-width: 576px) and (max-width: 991px) {
                    font-size: 12px;
                }
            }
    
            .read-time {
                color: #565353ce;
                font-size: .8rem;
    
                @media (min-width: 576px) and (max-width: 991px) {
                    font-size: 12px;
                }
            }
    
            .author {
                p {
                color: $dark-blue;
                font-size: .9rem;
                margin: 1rem 0 1rem 1.3rem;

                @media (max-width: 575px) {
                    margin-bottom: 0;
                }
    
                    @media (min-width: 576px) and (max-width: 991px) {
                        font-size: 12px;
                    }
                }
            }
    
            .read-more {
                text-decoration: underline;
    
                & a {
                    color: $selector;
                }
    
                a:hover {
                    color: $light-blue;
                }
            }
        }
    }
}


.eventos {
    padding: 5rem;
    background-color: $dark-background;
    display: flex;
    gap: 4rem;
    font-family: $font-family;

    @media (max-width: 575px) {
        padding: 2rem;
        flex-direction: column;
        gap: 0;
    }

    .eventos-body {
        width: 80%;
        text-align: justify;

        @media (max-width: 575px) {
            width: 100%;
        }

        h2 {
            color: $light-blue;

            @media (max-width: 575px) {
                font-size: 1rem;
            }
        }

        h5 {
            color: $gray-scale;
            line-height: 1.7;

            @media (max-width: 575px) {
                font-size: .7rem;
            }
        }

        img {
            width: 72%;

            @media (max-width: 575px) {
                width: 80%;
                padding-left: 20%;
                padding-bottom: 10%;
            }
        }
    }

    .carousel {
        width: 80%;

        @media (max-width: 575px) {
            width: 100%;
        }
    }
}

.divider {
    background-image: linear-gradient(to bottom, $dark-background , $gray-scale);
}

.footer {
    padding: 3% 5% 2%;
    margin: 0;
    max-width: unset;
    background-color: $dark-background;

    @media (max-width: 575px) {
        text-align: center;
    }

    @media (max-width: 575px) {
        padding: 3% 6% 25%;

        .row {
            flex-direction: column;
        }        
    }

    @media (min-width: 576px) and (max-width: 991px) {
        padding: 5% 3% 2%;

        .row {
            --bs-gutter-x: .5rem
        }
    }

    h2 {
        font-family: $font-family;
        color: $light-blue;
        font-size: 1.6rem;

        @media (max-width: 575px) {
            font-size: 1.3rem;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 1.2rem;
        }
    }

    & p {
        font-size: 1rem;
        text-align: left;
        color: $gray-scale;

        @media (max-width: 575px) {
            font-size: 13px;
            text-align: center;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 15px;
        }
    }

    h4 {
        text-transform: uppercase;
        color: $light-blue;
        font-weight: 700;
        font-size: 13px;
        text-align: left;
        margin-bottom: 20px;

        @media (max-width: 575px) {
            text-align: center;
            width: 94%;
        }
    }

    .col-sm ul {
        font-size: 1rem;
        padding: 0;

        & .contact {
            display: inline;
        }

        @media (max-width: 575px) {
            font-size: 13px;
            margin-bottom: 10%;
            margin-top: 5%;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            font-size: 13px;
        }
    }

    li {
        margin-bottom: 20px;
        display: block;
        margin-left: 0;

        @media (max-width: 575px) {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: $gray-scale;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .media {
        display: flex;

        @media (max-width: 575px) {
            margin-bottom: 8%;
        }
    }
    
    .social {
        svg:hover {
            fill: $light-blue;
        }
    }

    .social {
        margin-left: .2rem;

        svg {
            fill:$gray-scale;
        }

        @media (max-width: 575px) {
            margin-left: 0;
            align-items: left;
            // margin-bottom: 10%;
        }

        a {
            margin-right: 20px;
            text-decoration: none;

            @media (max-width: 575px) {
                margin-left: 20px;
            }
        }
    }

    .col-4 {
        width: 50%;

        @media (max-width: 575px) {
            text-align: center;
            line-height: 1;
            flex-direction: column;
            // margin-bottom: 0;
            width: 80%;
        }

        p {
            text-align: right;
            margin: 15px 0px 16px;
            font-size: 80%;
            font-family: $font-family;

            &::before {
                content: "\2015";
                color: $light-blue;
            }

            @media (max-width: 575px) {
                display: contents;
            }

            @media (min-width: 576px) and (max-width: 991px) {
                margin: 1rem 1rem 1rem 0;
                font-size: 70%;
            }
        }

        & a img {
            @media (max-width: 575px) {
                margin-bottom: 20%;
            }
        }
    }

    .col-sm .contact {

        & p {
            margin-bottom: 0;
            font-size: .8rem;
            color: $gray-scale;
            opacity: .6;
        }

        & a {
            font-weight: 700;

            & svg {
                fill: $light-blue;
            }
        }

        @media (max-width: 575px) {
            margin-left: 0;
        }
    }

    #footerinfo {
        
        @media (max-width: 575px) {
            text-align: center;
            margin-left: 0%;
        }

        @media (min-width: 576px) and (max-width: 991px) {
            margin-left: 5%;
        }
    }
}