@charset "UTF-8";
body {
  background-color: white;
}
body .navbar {
  padding: 0;
  transition: top 0.7s;
}
body .navbar .navbar-brand {
  margin-left: 1.5%;
}
@media (max-width: 575px) {
  body .navbar {
    text-align: center;
  }
}
body .dropdown-menu {
  background-color: #182227;
}
@media (max-width: 575px) {
  body .dropdown-menu {
    text-align: center;
    background-color: #2d4049;
  }
}
body .dropdown-menu li:hover {
  background-color: rgba(129, 103, 151, 0.5019607843);
}
body .dropdown-menu li a:hover {
  background-color: transparent;
  color: white;
}
body .nav-link:focus, body .nav-link:hover {
  color: #43C6AC;
}
body .navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
body .container-fluid {
  background-color: #182227;
  margin: 0;
}
body .container-fluid li {
  padding: 0.5rem 2rem;
}
body .container-fluid a {
  color: #F4F6F5;
}
body .container-fluid a:hover {
  color: #43C6AC;
}
body .actions {
  text-align: right;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 575px) {
  body .actions {
    text-align: center;
  }
}
body .actions > * {
  padding: 0.5rem 2rem;
}
body .actions a {
  color: white;
}
body .actions a:hover {
  color: white;
}
body .actions button {
  color: white;
  background-color: #816797;
  padding: 0.7rem 2.2rem;
  border: 0;
  border-radius: 5px;
  font-weight: 800;
}
body .actions button:hover {
  opacity: 0.9;
}
body .columns-pres {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 575px) {
  body .columns-pres {
    display: inline;
  }
}
body .presentation {
  padding: 8rem 0 2rem 3rem;
  background-image: linear-gradient(to right, #191654, #43C6AC);
  overflow: hidden;
}
@media (max-width: 575px) {
  body .presentation {
    padding: 8rem 1.5rem 1rem;
  }
}
body .presentation .col-pres2 {
  width: 100%;
  position: relative;
  right: 5%;
  margin-right: -60%;
}
@media (max-width: 575px) {
  body .presentation .col-pres2 {
    overflow: hidden;
    width: 150%;
  }
}
body .presentation .col-pres1 {
  width: 80%;
  max-width: 150%;
}
@media (max-width: 575px) {
  body .presentation .col-pres1 {
    width: 100%;
  }
}
body .presentation h2 {
  color: #43C6AC;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
@media (max-width: 575px) {
  body .presentation h2 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }
}
body .presentation h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
@media (max-width: 575px) {
  body .presentation h1 {
    font-size: 1.4rem;
  }
}
body .presentation p {
  color: white;
  font-size: 1.5rem;
}
@media (max-width: 575px) {
  body .presentation p {
    font-size: 1rem;
  }
}
body .presentation .button {
  background-color: transparent;
  border-color: white;
  border-width: 0.2rem;
  padding: 1.2rem 2rem;
  border-style: solid;
  margin-top: 2rem;
  text-transform: uppercase;
  transition: 0.3s ease all;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 12px;
  color: white;
}
@media (max-width: 575px) {
  body .presentation .button {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0.7rem 3rem;
    width: 100%;
  }
}
body .presentation .button svg {
  transition: 0.2s ease;
}
body .presentation .button:hover {
  color: #191654;
}
body .presentation .button span {
  transition: 0.3s ease all;
}
body .presentation .button:hover {
  background-color: #43C6AC;
  border-color: #43C6AC;
}
body .presentation .button:hover span {
  color: #191654;
}
body .presentation .social-media {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.5%;
  padding-left: 0;
  margin-left: 0;
  padding-right: 5rem;
}
@media (max-width: 575px) {
  body .presentation .social-media {
    margin-top: 10%;
    padding-right: 0;
  }
}
body .presentation .social-media li {
  width: 10%;
}
body .presentation .social-media a svg {
  fill: white;
  width: 50%;
  height: 50%;
}
@media (max-width: 575px) {
  body .presentation .social-media a svg {
    width: 60%;
    height: 60%;
  }
}
body .presentation .social-media a svg:hover {
  fill: #191654;
}
body .presentation .social-media #LinkedIn {
  padding-left: 2rem;
}
@media (max-width: 575px) {
  body .presentation .social-media #LinkedIn {
    padding-left: 0;
  }
}
body .presentation .social-media::before {
  display: block;
  content: "";
  height: 1px;
  width: 30%;
  background-color: white;
  opacity: 0.5;
  position: relative;
  top: 1rem;
  right: 1rem;
}
@media (max-width: 575px) {
  body .presentation .social-media::before {
    width: 30%;
    top: 0.8rem;
  }
}
body .presentation .social-media::after {
  display: block;
  content: "";
  height: 1px;
  width: 30%;
  background-color: white;
  opacity: 0.5;
  position: relative;
  top: 1rem;
  right: -1rem;
}
@media (max-width: 575px) {
  body .presentation .social-media::after {
    width: 30%;
    right: 0;
    top: 0.8rem;
  }
}
body .section-divider {
  fill: #F4F6F5;
  background-image: linear-gradient(to right, #191654, #43C6AC);
}
@media (max-width: 575px) {
  body .section-divider svg {
    padding-top: 1rem;
  }
}
body .about-me {
  padding: 5rem 6rem 0 6rem;
  background-color: #F4F6F5;
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  align-items: center;
}
@media (max-width: 575px) {
  body .about-me {
    padding: 3rem 1rem 0;
    flex-direction: column;
    gap: 1rem;
  }
}
body .about-me .about-me-body {
  flex: 1;
}
body .about-me .about-me-body h3 {
  font-size: 51px;
  line-height: 61px;
  color: #816797;
  padding-bottom: 1rem;
}
@media (max-width: 575px) {
  body .about-me .about-me-body h3 {
    font-size: 2rem;
    padding-bottom: 0;
  }
}
body .about-me .about-me-body p {
  color: #343434;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 575px) {
  body .about-me .about-me-body p {
    font-size: 1rem;
  }
}
body .about-me .about-me-body p mark {
  background-color: rgba(129, 103, 151, 0.7176470588);
  color: white;
  font-weight: 545;
}
body .about-me .carousel {
  flex: 0.6;
  border-radius: 0.8rem;
}
body .about-me .carousel .examples {
  width: 100%;
  background-color: #fff;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgb(203, 199, 199);
  border: 1px solid #dadada;
}
body .about-me .carousel .examples .examples-photos {
  position: relative;
}
body .about-me .carousel .examples .examples-photos img {
  width: 100%;
  max-height: 22vw;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  object-fit: cover;
}
@media (max-width: 575px) {
  body .about-me .carousel .examples .examples-photos img {
    max-height: 100%;
  }
}
body .about-me .carousel .examples .examples-photos::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
body .about-me .carousel .examples .examples-text {
  padding: 2rem;
}
body .about-me .carousel .examples .examples-text h3 {
  color: #51557E;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  text-transform: none;
}
body .about-me .carousel .examples .examples-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem;
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
}
body .about-me .carousel .examples-icon {
  width: 100%;
  height: 100%;
}
body .about-me .carousel .examples-icon img {
  max-width: 100%;
  max-height: 100%;
}
body .division {
  background-color: #F4F6F5;
}
body .division::after {
  display: inline-block;
  content: "";
  margin: 0 0 0 20%;
  height: 1px;
  width: 60%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.166);
}
body .services {
  max-width: 100%;
  padding: 3rem 8rem 5rem 8rem;
  margin: 0;
  background-color: #F4F6F5;
}
@media (max-width: 575px) {
  body .services {
    padding: 2rem 1rem 5.5rem 1rem;
  }
}
@media (max-width: 575px) {
  body .services .row {
    flex-direction: column;
    gap: 2rem;
  }
}
body .services h2 {
  font-family: "Inter", sans-serif;
  color: #37474f;
  font-size: 1.5rem;
  padding-bottom: 3rem;
  text-align: center;
}
body .services .card {
  align-items: center;
}
body .services .card svg {
  fill: #43C6AC;
  width: 40%;
  height: 40%;
  opacity: 0.9;
  padding-top: 1rem;
}
body .services .card svg:hover {
  fill: #816797;
}
body .services .card .card-body a {
  text-decoration: none;
}
body .services .card .card-body a h5 {
  color: #191654;
  font-family: "Inter", sans-serif;
}
body .services .card .card-body a h5:hover {
  color: #816797;
}
body .services .card .read-more a {
  color: #43C6AC;
}
body .services .card .read-more a:hover {
  color: #816797;
}

.footer {
  padding: 3% 5% 2%;
  margin: 0;
  max-width: unset;
  background-color: #182227;
}
@media (max-width: 575px) {
  .footer {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .footer {
    padding: 3% 6% 25%;
  }
  .footer .row {
    flex-direction: column;
  }
}
.footer h2 {
  font-family: "Inter", sans-serif;
  color: #43C6AC;
  font-size: 1.6rem;
}
@media (max-width: 575px) {
  .footer h2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .footer h2 {
    font-size: 1.2rem;
  }
}
.footer p {
  font-size: 1rem;
  text-align: left;
  color: #F4F6F5;
}
@media (max-width: 575px) {
  .footer p {
    font-size: 13px;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .footer p {
    font-size: 15px;
  }
}
.footer h4 {
  text-transform: uppercase;
  color: #43C6AC;
  font-weight: 700;
  font-size: 13px;
  text-align: left;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .footer h4 {
    text-align: center;
    width: 94%;
  }
}
.footer .col-sm ul {
  font-size: 1rem;
  padding: 0;
}
.footer .col-sm ul .contact {
  display: inline;
}
@media (max-width: 575px) {
  .footer .col-sm ul {
    font-size: 13px;
    margin-bottom: 10%;
    margin-top: 5%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .footer .col-sm ul {
    font-size: 13px;
  }
}
.footer li {
  margin-bottom: 20px;
  display: block;
  margin-left: 0;
}
@media (max-width: 575px) {
  .footer li {
    margin-bottom: 10px;
  }
}
.footer li a {
  text-decoration: none;
  color: #F4F6F5;
}
.footer li a:hover {
  text-decoration: underline;
}
.footer .media {
  display: flex;
}
@media (max-width: 575px) {
  .footer .media {
    margin-bottom: 8%;
  }
}
.footer .social svg:hover {
  fill: #43C6AC;
}
.footer .social {
  margin-left: 0.2rem;
}
.footer .social svg {
  fill: #F4F6F5;
}
@media (max-width: 575px) {
  .footer .social {
    margin-left: 0;
    align-items: left;
  }
}
.footer .social a {
  margin-right: 20px;
  text-decoration: none;
}
@media (max-width: 575px) {
  .footer .social a {
    margin-left: 20px;
  }
}
.footer .col-4 {
  width: 50%;
}
@media (max-width: 575px) {
  .footer .col-4 {
    text-align: center;
    line-height: 1;
    flex-direction: column;
    width: 80%;
  }
}
.footer .col-4 p {
  text-align: right;
  margin: 15px 0px 16px;
  font-size: 80%;
  font-family: "Inter", sans-serif;
}
.footer .col-4 p::before {
  content: "―";
  color: #43C6AC;
}
@media (max-width: 575px) {
  .footer .col-4 p {
    display: contents;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .footer .col-4 p {
    margin: 1rem 1rem 1rem 0;
    font-size: 70%;
  }
}
@media (max-width: 575px) {
  .footer .col-4 a img {
    margin-bottom: 20%;
  }
}
.footer .col-sm .contact p {
  margin-bottom: 0;
  font-size: 0.8rem;
  color: #F4F6F5;
  opacity: 0.6;
}
.footer .col-sm .contact a {
  font-weight: 700;
}
.footer .col-sm .contact a svg {
  fill: #43C6AC;
}
@media (max-width: 575px) {
  .footer .col-sm .contact {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .footer #footerinfo {
    text-align: center;
    margin-left: 0%;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .footer #footerinfo {
    margin-left: 5%;
  }
}

/*# sourceMappingURL=output.css.map */
